<footer class="section footer-classic context-dark bg-image navbar-fixed-bottom" style="background: #2d3246;">
    <div class="container-fluid">
        <div class="row row-30">
            <div class="col-md-3 col-xl-3">
                <div class="pr-xl-4"><a class="brand">
                        <img class="brand-logo"
                            src="https://www.stickpng.com/assets/images/5a5a87f714d8c4188e0b08d1.png"
                            alt="logo-cirque"></a>
                    <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion,
                        business consulting, and marketing.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Mike
                            Coding</span><span>. </span><span>All
                            Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <form>
                            <fieldset class="d-flex flex-column">
                                <input type="text" id="name" name="name" class="input-block-level" placeholder="Name">
                                <input type="text" id="email" name="email" class="input-block-level"
                                    placeholder="Email">
                                <textarea rows="3" id="description" name="description" class="input-block-level"
                                    placeholder="Votre message à notre attention"></textarea>
                                <button type="submit" class="btn btn-warning pull-right">Envoyer</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xl-3 align-self-center">
                <h5>Contact</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>29 montée des Lisières, Genay, 69730, France</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">mickael.spennato@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>téléphone:</dt>
                    <dd><a href="tel:#">+33 673052475</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
    </div>
</footer>