<h1 class="text-uppercase text-center my-5">Liste des Réservations</h1>

<div class="container my-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Artistes</th>
                <th scope="col">Client</th>
                <th scope="col">Email client</th>
                <th scope="col">Nombre de personne</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of reservationData">
                <td>{{item.date | date}}</td>
                <td>{{item.artistes}} </td>
                <td>{{item.nom}} </td>
                <td>{{item.email}}</td>
                <td>{{item.nombre}}</td>
                <td><button type="button" (click)="remove(item.id)" class="btn btn-danger">Annuler</button></td>
            </tr>
        </tbody>
    </table>
</div>

<hr>

<h1 class="text-uppercase text-center my-5">Ajouter un artiste</h1>

<div class="formulaire">
    <form [formGroup]="artistForm" (ngSubmit)="addArtist()" class="my-5">
        <div class="form-group">
            <label for="name">Nom de l'artiste</label>
            <input formControlName="nom" type="text" class="form-control" id="name" placeholder="Entre le nom">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input formControlName="description" type="textarea" class="form-control" id="description" placeholder="Rédiger une courte description">
        </div>
        <div class="form-group">
            <label for="image">Image d'illustration</label>
            <input formControlName="image" type="text" class="form-control" id="image" placeholder="Insérer le lien d'une image">
        </div>

        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>