<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand"><img src="https://www.stickpng.com/assets/images/5a5a87f714d8c4188e0b08d1.png"
                alt="logo-cirque"></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/home' ]">Le cirque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/artists' ]">Les artistes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="[ '/reservation' ]">Réserver</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="banner-heading">
                Bienvenue dans un monde merveilleux
            </div>
            <div class="banner-sub-heading">
                Le frisson commence maintenant !
            </div>
        </div>
    </div>
</div>